@model Core.Entity.Catalog



@if (Model != null)
{
    <h2>Folder "@Model.Name"</h2>
    <dl>
@*         <dt>Name:</dt>
        <dd style="margin-right:60px">@Model.Name</dd> *@
        <a asp-action="Delete" asp-route-id="@Model.Id" asp-route-pCId="@Model.ParentCatalogId">Delete Catalog</a>
    </dl>
    
}
else
{
    <p>Catalog not found.</p>
}

@if (Model.ChildrenCatalogs != null && Model.ChildrenCatalogs.Any())
{
        <ul style="margin-top:20px">
            @foreach (var childCatalog in Model.ChildrenCatalogs)
            {
                <li>
                    <a asp-action="GetCatalog" asp-route-id="@childCatalog.Id">@childCatalog.Name</a>
                </li>
            }
        </ul>
}

else
{
    <p>No child catalogs found.</p>
}

@if (Model.ParentCatalog != null)
{
    
    <a asp-action="GetCatalog" asp-route-id="@Model.ParentCatalogId">Back to Parent Catalog</a>
}



