@model Core.Entity.Catalog

<h2>Catalog Details</h2>

@if (Model != null)
{
    <dl>
        <dt>Name:</dt>
        <dd>@Model.Name</dd>
        <!-- Додайте інші властивості каталогу, якщо вони є -->
    </dl>
    <a asp-action="Delete" asp-route-id="@Model.Id" asp-route-pCId="@Model.ParentCatalogId">Delete Catalog</a>
}
else
{
    <p>Catalog not found.</p>
}

@if (Model.ChildrenCatalogs != null && Model.ChildrenCatalogs.Any())
{
        <ul>
            @foreach (var childCatalog in Model.ChildrenCatalogs)
            {
                <li>
                    <a asp-action="GetCatalog" asp-route-id="@childCatalog.Id">@childCatalog.Name</a>
                </li>
            }
        </ul>
}

else
{
    <p>No child catalogs found.</p>
}

@if (Model.ParentCatalog != null)
{
    <a asp-action="GetCatalog" asp-route-id="@Model.ParentCatalogId">Back to Parent Catalog</a>
}

